.cardDetails_textContainer{
    width: 100%;
    margin:2%;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.cardDetails_title{
    font-weight:500;
    margin:0 2.5% 0 5%;
}

.line{
    width:70%;
    height: 1px;
    background-color: #fbfbfb;
}

.details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    min-height: 80px;
    background: #e5e5e583;
    margin: 1% 2.5%;
    padding: 1%;
}

.card_text{
    font-size: 12px;
}